<header class="header-container">
  <mat-toolbar color="primary" class="header-toolbar">
    <span class="logo">ReservaRussas</span>

    <span class="spacer"></span>

    <nav class="nav-buttons">
      <button mat-button (click)="navigateToInfo()">Início</button>
      <button mat-button (click)="navigateToAbout()">Sobre</button>
      <button mat-button (click)="navigateToRooms()">Salas</button>
      <button mat-button (click)="navigateToContact()">Contato</button>
    </nav>

    <span class="spacer"></span>

    <div class="auth-buttons">
      <button mat-raised-button
              color="accent"
              class="register-btn"
              (click)="register()">
        REGISTRE-SE
      </button>
      <button mat-button
              class="login-btn text-white"
              (click)="login()">
        Fazer Login
      </button>
    </div>

  </mat-toolbar>
</header>
