<div mat-dialog-content>
  <h2 mat-dialog-title>Nova Reserva</h2>

  <mat-tab-group [(selectedIndex)]="selectedTabIndex">

    <mat-tab label="Reserva pontual">
      <form [formGroup]="frmCreateReservation" (ngSubmit)="onReservationSubmit()" class="form">
        <div class="row g-2">

          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-label>Sala</mat-label>
              <mat-select formControlName="roomId">
                <mat-option *ngFor="let room of roomList" [value]="room.Id">
                  {{ room.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-8">
            <mat-form-field class="w-100">
              <mat-label>Título</mat-label>
              <input matInput formControlName="title" required>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Descrição</mat-label>
              <textarea matInput rows="2" formControlName="description"></textarea>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-label>Dia</mat-label>
              <input matInput [matDatepicker]="startPicker" (dateChange)="onDateChange('start', $event.value)" required>
              <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
              <mat-datepicker #startPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-label>Início (hora)</mat-label>
              <input matInput type="time" [value]="startTimeDisplay" #startTimeRef (change)="onTimeChange('start', startTimeRef.value)" required>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-label>Fim (hora)</mat-label>
              <input matInput type="time" [value]="endTimeDisplay" #endTimeRef (change)="onTimeChange('end', endTimeRef.value)" required>
            </mat-form-field>
          </div>

        </div>

        <div mat-dialog-actions align="end" class="d-flex justify-content-end gap-2 mt-3">
          <button mat-button type="button" (click)="onCancel()">Cancelar</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="frmCreateReservation.invalid || isLoading">
            Criar reserva
          </button>
        </div>
      </form>
    </mat-tab>

    <mat-tab label="Alocação (série)">
      <form [formGroup]="frmCreateReservationSeries" (ngSubmit)="onReservationSeriesSubmit()" class="form">
        <div class="row g-2">

          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-label>Sala</mat-label>
              <mat-select formControlName="defaultRoomId">
                <mat-option *ngFor="let room of roomList" [value]="room.Id">
                  {{ room.Name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-8">
            <mat-form-field class="w-100">
              <mat-label>Título</mat-label>
              <input matInput formControlName="title" required>
            </mat-form-field>
          </div>

          <div class="col-12">
            <mat-form-field class="w-100">
              <mat-label>Descrição</mat-label>
              <textarea matInput rows="2" formControlName="description"></textarea>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-label>Janela início</mat-label>
              <input matInput [matDatepicker]="wsPicker" formControlName="windowStart" required>
              <mat-datepicker-toggle matSuffix [for]="wsPicker"></mat-datepicker-toggle>
              <mat-datepicker #wsPicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-label>Janela fim</mat-label>
              <input matInput [matDatepicker]="wePicker" formControlName="windowEnd" required>
              <mat-datepicker-toggle matSuffix [for]="wePicker"></mat-datepicker-toggle>
              <mat-datepicker #wePicker></mat-datepicker>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-4">
            <mat-form-field class="w-100">
              <mat-label>Dias da semana</mat-label>
              <mat-select formControlName="daysOfWeek" multiple>
                <mat-option *ngFor="let d of weekdays" [value]="d.value">
                  {{ d.label }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Hora início</mat-label>
              <input matInput type="time" formControlName="timeStart" required>
            </mat-form-field>
          </div>

          <div class="col-12 col-md-6">
            <mat-form-field class="w-100">
              <mat-label>Hora fim</mat-label>
              <input matInput type="time" formControlName="timeEnd" required>
            </mat-form-field>
          </div>

        </div>

        <div mat-dialog-actions align="end" class="d-flex justify-content-end gap-2 mt-3">
          <button mat-button type="button" (click)="onCancel()">Cancelar</button>
          <button mat-raised-button color="primary" type="submit" [disabled]="frmCreateReservationSeries.invalid || isLoading">
            Criar série
          </button>
        </div>
      </form>
    </mat-tab>

  </mat-tab-group>
</div>

