<div *ngIf="account as acc"
     class="d-flex flex-column h-100 p-3 text-light side-menu-container">
  <!-- Conta -->
  <div class="d-flex align-items-center mb-4">
    <mat-icon class="me-2 text-light user-icon">account_circle</mat-icon>
    <div class="user-info">
      <div class="fw-semibold text-light user-name">
        {{ acc.UserName || acc.Mail }}
      </div>
      <small class="text-secondary user-role">
        {{ getPermissionLabel(acc) }}
      </small>
    </div>
  </div>

  <!-- Navegação -->
  <mat-nav-list class="flex-grow-1 nav-list-compact">
    <a mat-list-item routerLink="/home" class="text-light menu-item">
      <mat-icon matListItemIcon class="text-light menu-icon">home</mat-icon>
      <span matListItemTitle class="text-light menu-text">Home</span>
    </a>

    <a mat-list-item (click)="navigateToRooms()" class="text-light menu-item">
      <mat-icon matListItemIcon class="text-light menu-icon">meeting_room</mat-icon>
      <span matListItemTitle class="text-light menu-text">Salas</span>
    </a>

    <a mat-list-item (click)="navigateToReservations()" class="text-light menu-item">
      <mat-icon matListItemIcon class="text-light menu-icon">event</mat-icon>
      <span matListItemTitle class="text-light menu-text">Reservas de Salas</span>
    </a>

    <a mat-list-item (click)="navigateToEquipmentReservations()" class="text-light menu-item">
      <mat-icon matListItemIcon class="text-light menu-icon">devices</mat-icon>
      <span matListItemTitle class="text-light menu-text">Reservas de Equipamentos</span>
    </a>

    <ng-container *ngIf="isManagerOrAbove">
      <mat-divider class="bg-secondary my-2"></mat-divider>

      <a mat-list-item (click)="navigateToAdvisorList()" class="text-light menu-item">
        <mat-icon matListItemIcon class="text-light menu-icon">supervisor_account</mat-icon>
        <span matListItemTitle class="text-light menu-text">Orientações</span>
      </a>

      <a mat-list-item (click)="navigateToAdvisorNew()" class="text-light menu-item">
        <mat-icon matListItemIcon class="text-light menu-icon">add</mat-icon>
        <span matListItemTitle class="text-light menu-text">Nova Orientação</span>
      </a>
    </ng-container>
  </mat-nav-list>

  <mat-divider class="bg-secondary my-2"></mat-divider>

  <!-- Conta -->
  <div class="mt-2">
    <a mat-list-item routerLink="/conta" class="text-light menu-item">
      <mat-icon matListItemIcon class="text-light menu-icon">settings</mat-icon>
      <span matListItemTitle class="text-light menu-text">Conta</span>
    </a>

    <button mat-list-item (click)="logout()" class="text-light menu-item">
      <mat-icon matListItemIcon class="text-light menu-icon">logout</mat-icon>
      <span matListItemTitle class="text-light menu-text">Sair</span>
    </button>
  </div>
</div>
